<html>
    <head>
	<script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.4.2"></script>
    <script type="text/javascript">
	// global settings - mess with these to alter sketch behaviour
	var FRAME_ALPHA = 5; // background applied per frame with X% alpha
	var SPAWN_MIN_X = 0; // minimum x pos of drop spawn (set in setup())
	var SPAWN_MAX_X = 0; // maximum x pos of drop spawn (set in setup())
	var MAX_X_SPEED = 0.5; // max speed that drops can "wander" left or right
	var MAX_X_ACCEL = 0.025; // max rate that drops can accelerate left or right
	var MAX_Y_SPEED = 7.5; // maximum speed of drops in pixels per frame
	var GRAVITY = 0.0375; // gravity that moderates acceleration of drops
	var FRICTION = 0.9925; // friction multiplier that slows drops in all directions
	var MIN_RAD = 3; // minimum drop radius in pixels
	var MAX_RAD = 6; // maximum drop radius in pixels
	var MIN_RG = 64; // minimum red & green values for drops
	var MAX_RG = 255; // maximum red & green values for drops
	var EXPLODE_RAD = 250; // radius of explosion that pushes drops on click
	var EXPLODE_STR = 5; // strength of click explosion
	var SOUNDAVALIBLE = 3;

	var drops = [];
	
	var rnn_steps = 200;
	var rnn_temperature = 1.5;
	
	TWINKLE_TWINKLE = {
		notes: [
			{pitch: {{ colour[0][3] }}, startTime: 0.0, endTime: 0.5},
			{pitch: {{ colour[1][3] }}, startTime: 0.5, endTime: 1.0},
			{pitch: {{ colour[2][3] }}, startTime: 1.0, endTime: 1.5},
			{pitch: {{ colour[3][3] }}, startTime: 1.5, endTime: 2.0},
			{pitch: {{ colour[4][3] }}, startTime: 2.0, endTime: 2.5},
			{pitch: {{ colour[5][3] }}, startTime: 2.5, endTime: 3.0},
		],
		totalTime: 8
	};
	
	// Initialize the model.
	music_rnn = new mm.MusicRNN('https://storage.googleapis.com/magentadata/js/checkpoints/music_rnn/basic_rnn');
	music_rnn.initialize();

	// Create a player to play the sequence we'll get from the model.
	rnnPlayer = new mm.Player();

	function play() {
		if (rnnPlayer.isPlaying()) {
			rnnPlayer.stop();
			return;
		}
		  
		// The model expects a quantized sequence, and ours was unquantized:
		const qns = mm.sequences.quantizeNoteSequence(TWINKLE_TWINKLE, 4);
		music_rnn
		.continueSequence(qns, rnn_steps, rnn_temperature)
		.then((sample) => rnnPlayer.start(sample));
	}
	
	
	function setup() {
		createCanvas(windowWidth, windowHeight);
		colorMode(RGB, 255, 255, 255, 100);
		ellipseMode(RADIUS);
		noStroke();
		background(0);
		// non-static globals. Have drops spawn in the middle 80% of the screen
		SPAWN_MIN_X = windowWidth / 10;
		SPAWN_MAX_X = SPAWN_MIN_X * 9;
	}

	function draw() {
		// draw over the image with a certain amount of alpha
		background(0, 0, 0, FRAME_ALPHA);
		drops.push(new drop()); // add a new drop each frame
		
		// run all the drops! Splish Splash!
		for (var i = drops.length - 1; i >= 0; i--) {
			drops[i].Run();
			// remove drops that have fallen off the screen
			if (!drops[i].isAlive()) {
				drops.splice(i, 1);
			}
		}
	}

	// drop object
	function drop() {
		this.x = random(SPAWN_MIN_X, SPAWN_MAX_X); // x pos of drop
		this.y = 0; // y pos of drop
		this.rad = random(MIN_RAD, MAX_RAD); // drop radius
		this.xSpeed = 0; // drop wander speed
		this.ySpeed = 0; // drop fall speed
		var list = {{ colour }};
		var item = list[Math.floor(Math.random()*list.length)];
		this.r = item[0];
		this.g = item[1];
		this.b = item[2];
		this.note = item[3];
		
		this.Run = function() {
			this.Update();
			this.Display();
		};
		
		// animated the drop
		this.Update = function() {
			// apply gravity to drop
			this.ySpeed += GRAVITY;
			
			// make drop "wander" left & right
			var a = random(-MAX_X_ACCEL, MAX_X_ACCEL);
			this.xSpeed += a;
			
			// apply friction and movement
			this.xSpeed *= FRICTION;
			this.ySpeed *= FRICTION;
			this.y += this.ySpeed;
			this.x += this.xSpeed;
		};
		
		// draw the drop
		this.Display = function() {
			fill(this.r, this.g, this.b, 100);
			ellipse(this.x, this.y, this.rad, this.rad);
		};
		
		// check if drop is still alive or not
		this.isAlive = function() {
			return this.y < windowHeight + this.rad;
		};
		
		// plays note
		this.playNote = function() {
			if (SOUNDAVALIBLE > 0){
				var song = new Audio('static/notes/' + this.note+'.WAV');
				song.play();
				SOUNDAVALIBLE = SOUNDAVALIBLE - 1
				song.onended = function() {
					SOUNDAVALIBLE = SOUNDAVALIBLE + 1
				};
			};
		};
	}
	
	
	function sleep(milliseconds) {
		var start = new Date().getTime();
		for (var i = 0; i < 1e7; i++) {
			if ((new Date().getTime() - start) > milliseconds){
			break;
			}
		}
	}
	
	
	// when mouse is clicked it pushes nearby drops away
	function mouseClicked() {
		play();
		for (var i = 0; i < drops.length; i++) {
			// ignore drops that aren't close enough to mouse
			var dist = sqrt(sq(drops[i].x - mouseX) + sq(drops[i].y - mouseY));
			if (dist > EXPLODE_RAD) { continue; }
			
			// push drops away from mouse, depending on how close they are
			var v = createVector(drops[i].x - mouseX, drops[i].y - mouseY);
			var str = EXPLODE_STR * (EXPLODE_RAD - dist) / EXPLODE_RAD;
			v.normalize();
			v.mult(str);
			drops[i].xSpeed += v.x;
			drops[i].ySpeed += v.y;
		}
	

	
	}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/p5@0.7.2/lib/p5.min.js" type="text/javascript"></script>
    </head>
<body>
</body>

</html>